Package: casaos-upstart
Version: 0.4.15
Section: admin
Priority: optional
Architecture: amd64
Maintainer: CasaOS Team <team@casaos.io>
Description: CasaOS Main Service for Upstart
 CasaOS - A simple, easy-to-use, elegant open-source home cloud system
 adapted for Upstart-based systems (Ubuntu 14.04 and earlier).
